@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header .time {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

main .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 208px;
  height: 40px;
  background: rgba(116, 170, 128, 0.92);
  border: 2px solid rgba(116, 170, 128, 0.92);
  border-radius: 5px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  text-decoration: none;
}

.custom-position-sm {
  position: absolute;
  top: 40%;
  right: 40%;
}

main .second-button {
  background: rgba(96, 111, 188, 0.92);
  border: 2px solid rgba(96, 111, 188, 0.92);
}

.custom-position-second {
  position: absolute;
  bottom: 34%;
  right: 26%;
}

main .third-button {
  background: rgba(207, 76, 139, 0.92);
  border: 2px solid rgba(207, 76, 139, 0.92);
}

.custom-position-third {
  position: absolute;
  bottom: 15%;
  right: 44%;
}

.card1 {
  top: 12px;
  right: 0;
}

.card2 {
  bottom: -62px;
  right: 70px;
}

.welcome-button{
  width: 208px;
  height: 48px;
  border: 0;
  border-radius: 22px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.01em;
  box-shadow: 0px 8px 20px rgba(216, 49, 49, 0.2);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup {
  background: linear-gradient(135deg, #FA6B74 0%, #F89500 100%);
  color: #FFFFFF;
}
.login{
  background: #fff;
  color: #FA6B74;
}
.about-para1{
  font-size: 1rem;
}
.about-para2{
  font-size: 13px;
}

.fixed-sm-bottom{
  position: static;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.e-image img{
    max-width: 120px;
  }
  .e-gift{
    height: auto;
  }
.ring-progress {
    stroke: #6fcf97;
        stroke-linecap: round;
        stroke-dasharray: 440;
        stroke-dashoffset: 440;
        animation: drawProgress 2s ease-out forwards;
  }

  .hover-wrapper:hover{
    background: #cee3fa;
    color: #133774;
  }
  .hover-wrapper:hover img{
    filter: brightness(0) saturate(100%) invert(16%) sepia(86%) saturate(630%) hue-rotate(209deg) brightness(90%) contrast(98%);
  }

.hover-wrapper:active {
  background: #78aeeb;
  color: #0f2e5e;
}

.hover-wrapper:active img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(64%) saturate(620%) hue-rotate(200deg) brightness(85%) contrast(90%);
}

  

  .hover-dash{
    cursor: pointer;
    background: #daaaed;
  }
@media (min-width: 768px) {
  .about-para1{
    font-size: 24px;
  }
  .about-para2{
  font-size: 1rem;
}
}
@media (max-width: 576px){
  .fixed-sm-bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 14px;
  }
}

@media (max-width: 576px){
  .e-image img{
    max-width: 80px;
  }
   .e-gift{
    height: 144px;
  }
}



@keyframes drawProgress {
  to {
    stroke-dashoffset: 88;
  }
}
